PORT=8080
MONGODB_URI=mongodb+srv://ramveer99170_db_user:4XRBcTVIQ5hsEe4A@cluster0.rfsci80.mongodb.net/school_dashboard?appName=Cluster0

JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=7d
FRONTEND_URL=https://educore-school-erp-1ha7.arcada.app
# CORS_ORIGIN=https://educore-school-erp-1ha7.arcada.app

# SMTP Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ramveer99170@gmail.com
SMTP_PASSWORD=vhja nebm dkzs shrp
SMTP_FROM="EduCore School ERP ramveer99170@gmail.com"



# Migration (optional)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DATABASE_URL=

